{
  "FIREBASE_ANDROID_API_KEY": "YOUR_FIREBASE_ANDROID_API_KEY",
  "FIREBASE_ANDROID_APP_ID": "YOUR_FIREBASE_ANDROID_APP_ID",
  "FIREBASE_PROJECT_ID": "YOUR_FIREBASE_PROJECT_ID",
  "FIREBASE_MESSAGING_SENDER_ID": "YOUR_FIREBASE_MESSAGING_SENDER_ID",
  "FIREBASE_STORAGE_BUCKET": "YOUR_FIREBASE_STORAGE_BUCKET",

  "FIREBASE_WEB_OAUTH_CLIENT_ID": "YOUR_FIREBASE_WEB_OAUTH_CLIENT_ID",

  "ADMOB_APP_ID_ANDROID": "YOUR_ADMOB_APP_ID",
  "ADMOB_REWARDED_AD_UNIT_ID": "YOUR_ADMOB_REWARDED_AD_UNIT_ID",

  "REVENUECAT_GOOGLE_API_KEY": "YOUR_REVENUECAT_GOOGLE_API_KEY",

  "GOOGLE_PLAY_GAMES_CLIENT_ID": "YOUR_GOOGLE_PLAY_GAMES_CLIENT_ID",

  "HMAC_SECRET": "YOUR_HMAC_SECRET",

  "ENV": "development"
}
